.container {
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.container.darkMode {
  background-color: var(--color-bg-darkmode);
}

.list {
  flex: 1 1 auto;
  overflow-y: scroll;
}